plot_sequential_NMR_properties/run_all_displaced_distances.mpi8.out
NC2Ipy_app/node_modules
scratch/PlotDFT/nmr_spectra
tests/data/KLaL_cation_pi_RCCE_opt.mpi8.out
test/data/run_all_displaced_distances.mpi8.out
scratch/OrcaAnalysis/split_orca_output