plot_sequential_NMR_properties/run_all_displaced_distances.mpi8.out
NC2Ipy_app/node_modules
test/test_data/
test/test_data/
scratch/OrcaAnalysis/
scratch/StructureModifier/
examples/
temp/
tests/
structs/
scratch/PlotDFT/